/* universal styles */

:root {
  --red: hsla(0, 92%, 41%, 0.85);
  --blue: hsla(211, 68%, 50%, 0.831);
  --white: hsla(0, 24%, 94%, 0.75);
  --light-text: hsla(0, 24%, 94%, 0.75);
  --dark-text: hsl(227, 78%, 7%);
  --bg-overlay: hsla(0, 0%, 100%, 0.1);
  --focus: hsla(0, 0%, 100%, 0.50);
  --dark-overlay: hsla(0, 0%, 0%, 0.75);
  --box-shadow: 0 0 .5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px dotted gray; */
}

::-webkit-scrollbar {
  background-color: var(--dark-overlay);
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: .5rem;
  transition: 1s;
}

::-webkit-scrollbar-track {
  margin: .25rem;
}

:hover::-webkit-scrollbar-thumb {
  background-color: var(--white);
  box-shadow: 0 0 1rem var(--red);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  font-variant: small-caps;
  color: var(--light-text);
  background: linear-gradient(var(--bg-overlay), transparent), fixed url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  letter-spacing: .125rem;
}

/* LEVEL I | FOOTER, HEADER, MAIN */
footer {
  justify-content: center;
}

footer,
header,
main {
  display: inherit;
}

header {
  background: var(--dark-overlay);
  align-items: center;
  padding: 0 .25rem;

  & nav,
  .links {
    display: inherit;
    flex-grow: 1;
  }

  & .links {
    justify-content: space-around;
  }
}

main {
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding: .5rem;
  overflow-y: hidden;
}

/* LEVEL II | SECTION, ARTICLE, FORMS */
section {
  gap: 1rem;
  background-color: var(--dark-overlay);
  backdrop-filter: blur(1rem);
  border-radius: .25rem;
  padding: 1rem;

  & h2 {
    border-top: 1px solid var(--light-text);
    border-left: 1px solid var(--light-text);
    padding: .25rem 2rem .25rem .5rem;
  }
}

form {
  & .label {
    display: flex;
    flex-direction: column;
  }

  & fieldset {
    border: 1px solid var(--light-text);

    & label {
      display: flex;
      gap: .5rem;
    }
  }

  & input:focus {
    outline: none;
  }
}

/* LEVEL III | BUTTONS, LISTS, LINKS, ETC. */
button {
  border-radius: .25rem;
  border: none;
  padding: .125rem;
  transition: 1s;
  background-color: var(--blue);
  font-size: 1.25rem;

  &:active,
  &:hover {
    background-color: var(--red);
    outline: 1px solid var(--dark-overlay);
  }
}

ol,
ul {
  list-style: none;
}

a,
.link {
  color: inherit;
  text-decoration: none;
  transition: 1s color;
}

/* display */
.display-md,
.display-lg {
  display: none;
}

#user-stats {
  white-space: pre-line;
}


@media screen and (min-width:768px) {

  .display-md {
    display: initial;
  }

  header {
    padding: 0 .75rem;
  }

  .links {
    justify-content: flex-end;
    gap: 2rem;
  }

}

@media screen and (min-width: 1024px) {

  .display-lg {
    display: initial;
  }

}