form {
  background: var(--dark-overlay);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: .25rem;
}

form h2 {
  width: fit-content;
  border-top-left-radius: .25rem;
  border-top: 1px solid var(--light-text);
  border-left: 1px solid var(--light-text);
  padding: .25rem 2rem .25rem .5rem;
  margin-bottom: 1rem;
}

form label {
  margin: 0 0 0 .5rem;
}

form input, form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--light-text);
  padding: .5rem;
  font-variant: normal;
  color: var(--light-text);
  margin: 0 0 1.75rem 1rem;
  transition: 1s;
  resize: none;
}

form textarea {
  height: 4rem;
}

form textarea:focus {
  outline: none;
}

form input:focus {
  background-color: transparent;
}

.char {
  font-size: .55rem;
  padding-left: .5rem;
  transition: color 1s;
}

.max {
  color: red;
}

@media screen and (min-width: 1024px) {
  form input {
    margin: 0 0 1rem 1rem;
  }
}