header, nav, .links {
    display: flex;
}

header {
    background: var(--dark-overlay);
    align-items: center;
    padding: 0 .25rem;
}

nav, .links {
    flex-grow: 1;
}

.links {
    justify-content: space-around;
}

