/* login sections */
#main-login {
    gap: .75rem;

    & section {
        width: 100%;
    }

    /* user stats */

    /* form */
    & .form-section {

        & #workout-form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: .25rem;

            & h2,
            fieldset,
            c button {
                grid-column: span 2;

            }

            & fieldset {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: .5rem;
                padding: 0 .5rem .25rem .5rem;
            }

            & label[for="note"] {
                grid-column: 1 / -1;
            }
        }
    }

    /* list */
    & .list-section {
        display: flex;
        flex-direction: column;
        overflow-y: hidden;

        & .list {
            gap: .5rem;
            overflow-y: scroll;

            display: flex;
            flex-direction: column;

            & #workout-fields {
                position: sticky;
                top: 0;
                background-color: var(--dark-overlay);
                border-left: 1px solid var(--light-text);
            }

            & .workout {
                display: grid;
                grid-template-columns: 3rem 8rem 4rem;
                gap: .5rem 1rem;
                padding: .25rem .75rem;

                & .meters {
                    text-align: end;
                }
            }
        }
    }
}

/* user section
.user-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: sticky;
    gap: .5rem;

    & h2 {
        grid-column: span 4;

    }

    & p {
        display: flex;
        flex-direction: column;
        padding-left: .5rem;
    }
} */

/* @media screen and (min-width: 768px) {
    #main-login {
        & .list-section {
            & .list {
                & .workout {
                    grid-template-columns: 3rem 7rem repeat(2, 1fr);
                    gap: .5rem;
                }
            }
        }
    }
} */

/* @media screen and (min-width: 1024px) {

    #main-login {
        display: grid;
        grid-template-columns: max-content 1fr;
        align-items: flex-start;

    }
} */