.logged-in {
    overflow-y: scroll;
    gap: 1rem;
}

.user-section {
    grid-area: a;
}

.form-section {
    grid-area: b;
}

.workouts-section {
    grid-area: c;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .logged-in {
        display: grid;
        align-items: flex-start;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "a c"
        "b c";
        overflow-y: hidden;
    }

    .logged-in {
        grid-template-rows: auto min-content;
    }
}