/* universal form styles */

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--light-text);
  padding: 0 .5rem;
  font-variant: normal;
  color: var(--light-text);
  transition: 1s;
  resize: none;
}

form textarea:focus {
  outline: none;
}

#date {
  border-bottom: none;
}

.input:focus {
  border-bottom: 1px solid var(--blue);
}

.char {
  font-size: .55rem;
  padding-left: .5rem;
  transition: color 1s;
}

.max {
  color: red;
}

.login-form {
  width: 55vw;
  gap: 1rem;
}

.login-form input {
  padding: .25rem .5rem;
  border-radius: .25rem;
}

.login-form,
.login-form input,
.login-form button {
  font-size: 1.5rem;
}


@media screen and (min-width: 768px) {

  .login-form,
  .signup-form {
    gap: .25rem;
  }

  .workout-form {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: .5rem;

    & h2,
    button,
    .notes-wrapper {
      grid-column: span 3;
    }

    & article {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 1024px) {

  form input {
    margin: 0 0 1rem 1rem;
  }
}