.workouts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    overflow-y: scroll;
    padding: 0 .5rem;
}

.workout-legend {
    display: grid;
    padding: 0 .5rem;
    grid-template-columns: 40vw 1fr auto;
    gap: .5rem;
}

.workout {
    display: grid;
    gap: .5rem;
    width: 100%;
    align-items: baseline;
}

.workout-min {
    grid-template-columns: 40vw 1fr auto;
}

.workout p {
    font-size: smaller;
}

.meters {
    text-align: end;
}

@media screen and (min-width: 768px) {

    .workout-min,
    .workout-legend {
        width: 55vw;
        grid-template-columns: 12rem 8rem 1fr;
    }

}