#workouts {
    display: inherit;
    flex-direction: inherit;
    gap: .5rem;
}

.workout {
    display: grid;
    gap: .5rem;
    width: 100%;
    align-items: baseline;
}

.workout-min {
    grid-template-columns: 40vw 1fr auto;
}

.workout p {
    font-size: smaller;
}

.meters {
    text-align: end;
}

.workout-details {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .25rem 1rem;
    align-items: baseline;
}

.workout-details h3 {
    grid-column: span 2;
}

.workout article * {
    padding: 0 0 0 .75rem;
}

@media screen and (min-width: 768px) {

    * {
        /* outline: 1px dotted white; */
    }
    #workouts {
        overflow-y: scroll;
        padding: 0 .5rem 0 0;
    }
    
    .workout {
        display: grid;
        grid-template-columns: repeat(2, 1fr) 5rem;
    }

    #workouts .workout-meters {
        text-align: end;
    }
}