@media screen and (min-width: 1024px) {
    #workout {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    #workout h2 {
        grid-column: span 2;
    }

    #note-section {
        height: 100%;
    }
}