#workout-page {

    & section {
        width: 100%;
        display: grid;
    }

    & #workout {
        grid-template-columns: 7rem 1fr;
        & h2 {
            grid-column: 1 / -1;
        }
    }

    & #options {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {
    #workout-page {
        font-size: larger;
    }
}