:root {
  --red: hsla(0, 92%, 41%, 0.85);
  --blue: hsla(211, 83%, 56%, 0.831);
  --white: hsla(0, 24%, 94%, 0.75);
  --light-text: hsla(0, 24%, 94%, 0.75);
  --dark-text: hsl(227, 78%, 7%);
  --bg-overlay: hsla(0, 0%, 100%, 0.1);
  --focus: hsla(0, 0%, 100%, 0.50);
  --dark-overlay: hsla(0, 0%, 0%, 0.75);
  --box-shadow: 0 0 .5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px dotted blue; */
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  font-variant: small-caps;
  color: var(--light-text);
  background: linear-gradient(var(--bg-overlay), transparent), fixed url('./images/background.jpg');
  background-size: cover;
  background-position: center;
  letter-spacing: .125rem;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding: 1rem;
}

/* typography */
ol, ul {
  list-style: none;
}

a, .link {
  color: inherit;
  text-decoration: none;
  transition: 1s color;
}